@use 'tailwindcss' as *;
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
  --bg-color-dark: #1e2227;
  --bg-color-light: #eeeeee;
}

.MuiDataGrid-cell,
.MuiDataGrid-columnHeader {
  outline: none !important;
}
